.xmake/
.vs/
build/
*.akel
*.swp
*.ini
*.exe
*.lib
*.exp
Akel_Studio/settings/
Akel_Studio/build/
Akel_Studio/Akel_Studio.*
Akel_Studio/Akel_Studio
Akel_Studio/akelstudio_application.*
Akel_Studio/akelstudio_application
Akel_Studio/.akel_logs/
.gdb_history
